@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #343a40;
  background-image: url('./assets//dark_weather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}
